name: Node CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        version: 10.x
    - name: npm install, build, and test
      run: |
        npm install -g typescript@2.9.2
        npm install -g mocha
        npm install
        npm run prepare
        npm run build --if-present
        npm run test-unit
